/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-08-22, 20:03:00
    Author     : Kamil Sagalara
*/


.table-view{
    -fx-background-color: white;
 }

 
.table-view:focused{
    -fx-background-color: white;
}



.table-view .column-header-background .label{
    -fx-font-size:20px;  
}


.table-view .table-column{
    -fx-alignment:center;
}

.table-view .table-cell{
    -fx-font-size:20px;           
    -fx-text-fill:black;

}

.combo-box{
    -fx-font-size : 16px;
    
}
#SearchButton{
    -fx-background-color: #8888ff;
}
#SearchButton:hover{
    -fx-background-color: #0000ff;
}
.AddButton{
    -fx-background-color: #88ff88;
}
.AddButton:hover{
    -fx-background-color: #00ff00;
}
#RemoveButton{
    -fx-background-color: #ff8888;
}
#RemoveButton:hover{
    -fx-background-color: #ff0000;
}

.combo-box-popup .list-view {
    -fx-font-size : 16px;
}

/*added this in an edit*/
.combo-box-popup .list-view .list-cell {
    -fx-padding: -1 -1 -1 -1;
}

.controls-background{
    -fx-background-color: #FFFFEE;
    -fx-border-color: #000000;
}
